<div class="container">
  <div class="left">
    <img src="assets/web_image1.jpg"/>
    <div class="center">
      <p>The</p>
      <img src="assets/ABC-blocks.png"/>
      <div class="right">
        <p>Attendance</p>
        <p>Behavior</p>
        <p>Classtime</p>
        <div class="bottom">
          <p>Student Data System</p>
        </div> <!-- bottom -->
      </div> <!-- right -->
    </div> <!-- center -->
  </div> <!-- left -->
</div> <!-- container -->



