  <div class='sign-in-container'>
    <div class='sign-in-header'>
      <h3>User log in</h3>
    </div>

    <div class='sign-in'>
      <form action='/start' method='get'>
        <input type='text' placeholder='Username' name='username'>
        <input type='password' placeholder='Password' name='password'>
        <button>Log In</button>
      </form>
    </div>
  </div>