<nav>
  <ul> 
    <li><%= link_to "HOME", root_path %></li>
    <li><a href="/">The SYSTEM</a></li>
    <li><a href="/">The STORIES</a></li>
    <li><a href="/">SIGN-UP</a></li>
    <li><%= link_to "SIGN-IN", sign_in_path %></li>
  </ul>
</nav>